<section>
    <div class="flex flex-wrap text-center">
        <div class="w-full pt-4">
            <div>
                <a href="https://twitter.com/terackr" target="_blank">
                    <button
                        class="bg-white shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 duration-200 hover:shadow-md"
                        type="button">
                        <i class="fab fa-twitter"></i>
                    </button>
                </a>
                <a href="https://github.com/terackr" target="_blank">
                    <button
                        class="bg-white shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 duration-200 hover:shadow-md"
                        type="button">
                        <i class="fab fa-github"></i>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>